.card {
  display: flex;
  width: 100%;
  gap: 12px;
}

.banner {
  flex-direction: column;
}

.title {
  font-size: 14px;
}

.extra {
  font-size: 12px;
  color: #6c7072;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.wrapper {
  width: 64px;
  height: 64px;
  background-color: #f2f4f5;
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
}
